@use './cf7/style.scss' as *;

.dfs-row {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
}

.dfs-col {
	padding-left: 15px;
	padding-right: 15px;
}

@for $i from 1 through 12 {
	.dfs-col-#{$i} {
		flex: 0 0 (8.333333% * $i);
		max-width: (8.333333% * $i);
	}
}

@media (min-width: 768px) {
	@for $i from 1 through 12 {
		.dfs-col-md-#{$i} {
			flex: 0 0 (8.333333% * $i);
			max-width: (8.333333% * $i);
		}
	}
}

@media (min-width: 981px) {
	@for $i from 1 through 12 {
		.dfs-col-lg-#{$i} {
			flex: 0 0 (8.333333% * $i);
			max-width: (8.333333% * $i);
		}
	}
}

/** deprecated Css **/
.tfs-row {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
}

.tfs-col {
	padding-left: 15px;
	padding-right: 15px;
}

@for $i from 1 through 12 {
	.tfs-col-#{$i} {
		flex: 0 0 (8.333333% * $i);
		max-width: (8.333333% * $i);
	}
}

@media (min-width: 768px) {
	@for $i from 1 through 12 {
		.tfs-col-md-#{$i} {
			flex: 0 0 (8.333333% * $i);
			max-width: (8.333333% * $i);
		}
	}
}

@media (min-width: 981px) {
	@for $i from 1 through 12 {
		.tfs-col-lg-#{$i} {
			flex: 0 0 (8.333333% * $i);
			max-width: (8.333333% * $i);
		}
	}
}
